@model Warsztat_samochodowy.DTOs.VehicleCreateDto

@{
    ViewData["Title"] = "Dodaj pojazd";
}

<h2>Dodaj pojazd</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Make"></label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LicensePlate"></label>
        <input asp-for="LicensePlate" class="form-control" />
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VIN"></label>
        <input asp-for="VIN" class="form-control" />
        <span asp-validation-for="VIN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="CustomerId" />

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}