@model List<Warsztat_samochodowy.DTOs.CustomerListDto>

@{
    ViewData["Title"] = "Lista Klientów";
}

<h2>Lista klientów</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię i nazwisko</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.FullName</td>
            </tr>
        }
    </tbody>
    <p>
        <a asp-action="Create" class="btn btn-success">Dodaj nowego klienta</a>
    </p>
</table>